BODY {
BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px;
FONT-FAMILY: verdana,arial,helvetica; FONT-SIZE: 14px; color: #000000; BACKGROUND-COLOR: #ffffff;
scrollbar-3dlight-color: White;
scrollbar-arrow-color:#8F308D;
scrollbar-base-color: White;
scrollbar-darkshadow-color: White;
scrollbar-face-color: White;
scrollbar-highlight-color:#8F308D;
scrollbar-shadow-color:#8F308D;
scrollbar-track-color: White;
left: 0px; top: 0px;
line-height:1.6}

small .gensmall {FONT-SIZE: 13px;}

.row1, .row3 {Background-color: #FFFFFF;}
.row2 {Background-color: #FEF9FF;}

A:link {COLOR:#B63DB3; TEXT-DECORATION:none}
A:visited {COLOR:#8F308D; TEXT-DECORATION:none}
A:active {COLOR:#60205F; TEXT-DECORATION:none}
A:hover {COLOR:#60205F; TEXT-DECORATION:underline}

input, textarea {text-decoration: none; color: #000000; cursor: default; background-color: #FFFFFF; border-style: solid; border-width: 1px; border-color: #000000;}

h1 {text-align:center; font-size:18px; text-shadow: -1px 0px #FFF, 0px 1px #FFF, 1px 0px #FFF, 0px -1px #FFF , -1px 1px 2px #CC0000; }
h2 {text-align:center; font-size:16px;}
H3 {text-align:center; font-size:15px; font-weight:bold;}
IMG {BORDER-RIGHT:0px; BORDER-TOP:0px; BORDER-LEFT:0px; BORDER-BOTTOM:0px}

/* 2019 */
.cattitle, .thCornerL, .thLeft, .thRight, .thTop, .thCornerR, .catHead {color: #FFFFFF; text-decoration: bold;}
.rutoprow {Background-color: #A637A3; color: #000000; text-decoration: bold;}
.maincolor, .forumline {Background-color: #8F308D}
TABLE.main {BORDER-RIGHT: #70256D 1px solid; BORDER-TOP: #70256D 1px solid; BORDER-LEFT: #70256D 1px solid; BORDER-BOTTOM: #70256D 1px solid;}

/* 2019 кнопки списка страниц */
.pgbutt   {padding:20px 20px; text-decoration: none;}
.pgbutt a {color: white; border: 1px #000000 solid; width:10px; padding:3px 6px; background: #A637A3;
           -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.pgbutt a:hover   {color: black; background: #FEF9FF;}
.pgbutt a:visited {TEXT-DECORATION: none;}

/* 2019 кнопки главная, добавить,настройки и т.д. */
.knopka{margin:4px 2px; color:white; padding:5px 32px; border:none; text-align:center; text-decoration:none;
border-radius:5px; display:inline-block; -webkit-transition-duration:0.4s; transition-duration:0.4s; cursor:pointer;}
.color {background-color:#A637A3; color:#FFFFFF; border:2px solid #A637A3;}
.color:hover {background-color:#FFFFFF; color:black;}
.color:active{transform:translate(1px, 1px);}